<div class="container">

  <div class="row">

 <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">



  <h2 class="mt-3">User info</h2>

  <% if @user.errors.any? %>
  <h3><%= @user.errors.count %> errors prohibited this obj from being saved:</h3>
  <ul>
    <% @user.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

 <%= form_with model: @user do |f| %>
  <div class="form-group">
   <div class="field_with_errors">
  <label>Name</label>
  </div>
  <%= f.text_field :name, class: "form-control name" %>
  </div>

 <div class="form-group">
  <div class="field_with_errors">
   <label>image</label>
   </div>
  <%= f.file_field :profile_image, accept: "image/*" %>
   </div>
   
  <div class="form-group">
  <div class="field_with_errors">
  <label>Introduction</label>
  </div>
  <%= f.text_area :introduction, class: "form-control introduction" %> <br>
   </div>
   
  <div class="form-group">
  <div class="field_with_errors">
  <%= f.submit 'Update User', class: "btn btn-secondary" %>
  </div>
  </div>
  
  <% end %>
 </div>

  </div>

</div>