<div class="container px-5 px-sm-0">
<div class="row">
<div class="col-md-3">
<h2>User info</h2>

<table>
  <tbody>

    <tr>
      <th>name</th>
      <th><%= @user.name %></th>
    </tr>
    <tr>
      <th>introduction</th>
      <th><%= @user.introduction %></th>
    </tr>

  </tbody>

</table>

<%= link_to "Edit", edit_user_path(@user.id) %>


<h1>New book</h1>

<%= form_with model: @newbook do |f| %>
  <h4>Title</h4>
  <%= f.text_field :title %>

  <h4>Opinion</h4>
  <%= f.text_area :body %> <br>

  <%= f.submit 'Create Book' %> <!--bookの詳細ページへ-->
<% end %>

</div>
<div class="col-md-8 offset-md-1">
<h2>Users</h2>

  <table>

    <thead>
      <tr>
       <th>image</th>
       <th>name</th>
      </tr>
    </thead>

    <% @users.each do |user| %>
  <tbody>
    <tr>
      <td></td>
      <td><%= user.name %></td>
      <td></td>
    </tr>
  </tbody>
    <% end %>
</table>

</div>

</div>

</div>
