<h2>User info</h2>

<table>
  <tbody>
    <tr>
      <th>name</th>
      <th></th>
    </tr>

    <tr>
      <th>introduction</th>
      <th></th>
    </tr>
  </tbody>
</table>

<div class="row">
  <a>a</a>
</div>


<h1>New book</h1>

<%= form_with model: @book do |f| %>
  <h4>Title</h4>
  <%= f.text_field :title %>

  <h4>Opinion</h4>
  <%= f.text_area :body %>

  <%= f.submit 'Create Book' %> <!--bookの詳細ページへ-->
<% end %>



<h2>Books</h2>

  <table>

    <thead>
      <tr>
       <th>name</th>
       <th>Opinion</th>
      </tr>
    </thead>

    <% @books.each do |book| %>
  <tbody>
    <tr>
      <td><span><%= book.title %></span></td>
      <td><span><%= book.body %></span></td>
    </tr>
  </tbody>
  <% end %>
</table>
