<!DOCTYPE html>
<html>
  <head>
    <title>Bookers2</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
   <script src="https://kit.fontawesome.com/2b7c6e9815.js" crossorigin="anonymous"></script>
   <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
      <header class="bg-dark text-white">
    <% if user_signed_in? %>

    <ul class="row py-3 mx-5">
      <li class="col-8 h-25 d-inline-block">Bookers</li>
      <li class="col"><%= link_to "Home", user_path(current_user) %></li>
      <li class="col"><%= link_to "Users", users_path %></li>
      <li class="col"><%= link_to "Books", books_path %></li>
      <li class="col"><%= link_to "Log out", destroy_user_session_path, method: :delete %></li>
    </ul>

    <% else %>
    <ul class="row py-3 mx-5">
      <li class="col-8 h-25 d-inline-block">Bookers</li>
      <li class="col"><%= link_to "Home", root_path %></li>
      <li class="col"><%= link_to "About", homes_about_path %></li>
      <li class="col"><%= link_to "Sign up", new_user_registration_path %></li>
      <li class="col"><%= link_to "Log in", new_user_session_path %></li>
    </ul>
    <% end %>
  </header>
    <%= yield %>
  </body>
</html>
